body{
	height:100%;
	background:url("../img/login_background.jpg");
	
}
.login_main{
	width:100%;
	height:100%;
	
}
.login_main_01{
	background-size:100%;
	background-size:cover;
	-ms-behavior: url(backgroundsize.min.htc);
	background-repeat:no-repeat;
	min-width:1100px;
	min-height:656px;
	
}
.login_main_02{
	background-color:#fff;
	width:400px;
	height:300px;
	border-radius: 3px;
	position: absolute;
	right:-8%;
	overflow: hidden;
}
.login_main_03{
	position: absolute;
	top:20%;
	width:1100px;
	height:300px;
}.login_main_04{
	width:1340px;
	height:100%;
}.login_title{
	font-size: 22px;
	width:400px;
	height:50px;
	line-height:50px;
	text-align: center;
    padding: 15px 0 12px 0;
    font-weight: 100;
    color: #777;
    margin-left:170px;
}
.fh5co-form .form-control {
    font-size: 16px;
    font-weight: 300;
    height: 30px;
    padding-left: 0;
    padding-right: 0;
    border: none;
    border-bottom: 1px solid #888;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
input:focus{ outline:none; }
.form-control {
    display: block;
    width: 80%;
	margin-left:10%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
   
}
.btn-primary {
	margin-top:15px;
    width: 74%;
	margin-left:12%;
    height: 41px;
	line-height:41px;
    background: #3582f8;
    border-radius: 4px;
    transition: .3s;
    font-size: 16px;
    border: 0;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    font-family: Microsoft YaHei,SimHei,Tahoma;
    font-weight: 100;
}
.btn-primary:hover{
	opacity: .4;
}
.font_mess{
	color:#fc4343;
	display: block;
    font-size: 12px;
    line-height: 14px;
    padding-top: 8px;
	height:8px;
	width: 74%;
	margin-left:12%;
}.form-group_su{
	height: 41px;
}
.pass_forget{
	font-size: 15px;
    color: #666;
    font-weight: 300;
	text-decoration:none;
}
.pass_forget:hover{
	text-decoration:underline;
	color: #111;
}
.pass{
	width: 90%;
	margin-top:40px;
	margin-left:20px;
}
.sign_up{
	font-size: 15px;
	margin-left:60%;
	text-decoration:none;
	color:#3582f8;
}.sign_up:hover{
	opacity: .5;
}